header
{
	padding-top: 10vh;
	background-color: #66BB6A;
	min-height: 100vh;
	color: #fff;
}

section
{
	padding-top: 10vh;
	padding-bottom: 10vh;
	min-height: 100vh;
}

footer
{

}

h1, h2, .beta
{
	font-family: 'Roboto', sans-serif;
}

h1
{
	font-weight: 100;
	font-size: 32px;
	padding-bottom: 25px;
	padding-top: 15px;
}

header strong
{
	font-weight: 300;
	font-size: 42px;
	display: block;
}

.beta
{
	font-size: 24px;
	color: #C8E6C9;
	text-transform: uppercase;
}

hr {
  margin-top: 35px;
  margin-bottom: 30px;
  border: 0;
  border-top: 1px solid #81C784;
}