<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="KISS Launcher" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://kisslauncher.com" />
	<meta property="og:description" content="Blazingly fast launcher for Android" />
	<meta property="og:image" content="http://kisslauncher.com/img/img-mobile-4.png" />
	<meta property="og:server-url" content="http://kisslauncher.com" />
	<link rel="canonical" href="https://kisslauncher.com{{ page.canonical }}">

	<link href="img/favicon.png" rel="shortcut icon" type="image/png" />
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/kisslauncher.css">
	<script src="js/modernizr.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Roboto:500,100' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<title>{{ page.title }}</title>

	<script async defer data-domain="kisslauncher.com" src="https://t.neamar.fr/js/plausible.js"></script>
</head>
<body>
	{{ content }}

    <script type="text/javascript">
if(navigator.userAgent.match(/[(;]\s*Android(?:\s+\d+(?:[.]\d+)*)?\s*[;)]/)) {
	var download_links = document.getElementsByClassName("link-download");
	for(var i = 0; i < download_links.length; i++) {
		download_links[i].href = "market://details?id=fr.neamar.kiss";
	}
}
    </script>
	<script src="js/jquery-2.1.1.js"></script>
	<script src="js/main.js"></script>
	<script src="js/kisslauncher.js"></script>
	<script src="js/smoothscroll.js"></script>

	<script>
	// Include the UserVoice JavaScript SDK (only needed once on a page)
	UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/TJmkSLrRAMcVDVduhS9iw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

	//
	// UserVoice Javascript SDK developer documentation:
	// https://www.uservoice.com/o/javascript-sdk
	//

	// Set colors
	UserVoice.push(['set', {
	  accent_color: '#66bb6a',
	  trigger_color: 'white',
	  trigger_background_color: '#66bb6a'
	}]);


	UserVoice.push(['identify', {
	}]);

	// Add default trigger to the bottom-right corner of the window:
	UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

	// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
	UserVoice.push(['autoprompt', {}]);
	</script>

</body>
</html>
